{% extends "@Ds2013/Presenters/Domain/ContentBlock/content_block.html.twig" %}

{% block extraClasses %}
    {{ build_css_classes({'component--box-flushbody': not content_block.isInPrimaryColumn()}) }}
{% endblock %}

{% block blockContent %}
    {% for row in content_block.getBlock().getHead() %}
        {{ row|raw }}
    {% endfor %}
    {{ content_block.getBlock().getBody()|raw }}
    <p><small>Riddle is a third party content provider, view their <a href="https://www.bbc.co.uk/programmes/articles/4ryPmSl6JmpdyDqdWvCLBtC/riddle-privacy-policy">privacy policy</a>.</small></p>
{% endblock %}
