<ol class="related-topics">
    {%- for relatedTopic in related_topics.getRelatedTopics() -%}
        <li>
            {% if relatedTopic.getProgrammeItemCountContext() %}
                {% set url = path('programme_topic', {pid: relatedTopic.getProgrammeItemCountContext(), topic: relatedTopic.getId()}) %}
            {% else %}
                {% set url = path('topic_show', {topic: relatedTopic.getId()}) %}
            {% endif %}
            <a
                href="{{ url }}"
                class="br-linkinvert"
                {{ get_ati_attributes('topic', related_topics.getOption('ATI_prefix'))|attrs }}
            >
                {{ relatedTopic.getTitle() }}
                {% if not related_topics.hideCount() %}
                    ({{ relatedTopic.getProgrammeItemCount() }})
                {% endif %}
            </a>
        </li>
    {%- endfor -%}
</ol>
