.search-bar {
    background: #4a4848;
    border: 0;
    border-bottom: solid 1px #707070;
    margin-top: 8px;
    display: flex;
}

.search-bar__label {
    flex-grow: 1;
}

input[type='search'].search-bar__input {
    padding: 8px;
    font-size: 1.2em;
    background: transparent;
    border: 0;
    color: #efefef;
    width: 100%;
    box-sizing: border-box;
}

.search-bar__button {
    background: transparent;
    border: 0;
    color: #efefef;
    padding: 8px;
}

svg.search-bar__icon {
    height: 1.2em;
    width: 1.2em;
    vertical-align: middle;
}
