/**
 * Pagination
 *
 * A list of page links with next and previous arrows.
 *
 * By default it hides all but the next and previous arrows and text, showing
 * more pages as the viewport size increases.
 */

.pagination {
    margin-bottom: $basic-spacing;

    // Nested in a .pagination class to trump the "nav > li" styles
    .pagination__page,
    .pagination__spacer,
    .pagination__spacer--hidden {
        display: none;
        margin: 0 1px;
        text-align: center;
    }
}

.pagination a:hover,
.pagination a:active,
.pagination a:focus {
    text-decoration: none;
}

.pagination__next {
    // -1px on the margin-left to account for the adjacent page / spacer margin
    margin: 0 $basic-spacing 0 ($basic-spacing - 1px);
}

.pagination__previous {
    // -1px on the margin-right to account for the adjacent page / spacer margin
    margin: 0 ($basic-spacing - 1px) 0 $basic-spacing;
}

.pagination__page a,
.pagination__page span,
.pagination__spacer span,
.pagination__spacer--hidden span {
    display: block;
    width: mq-px2em(35px, 14px);
    padding: mq-px2em(10px, 14px) 0;
}

.pagination__page--disabled {
    opacity: 0.8;
}

svg.pagination__next-previous {
    width: 14px;
    height: 22px;
    vertical-align: text-top;
}

// The previous and next text is only shown on devices which do not
// display numbered buttons and desktops wide enough to display both.
@include mq($from: 'gel1b', $until: 'gel3b') {
    .pagination__next span,
    .pagination__previous span {
        @include visually-hidden();
    }
}

// Hidden spacers are only shown on devices wide enough to display
// numbered buttons, but not wide enough to fit all of them in.
@include mq($from: 'gel1b', $until: 'gel4') {
    .pagination {
        .pagination__spacer--hidden {
            display: inline-block;
        }
    }
}

// First, current, last and nohide buttons, as well as spacers, are
// displayed on all devices that are wide enough for numbered buttons.
@include mq($from: 'gel1b') {
    .pagination {
        .pagination__page--nohide,
        .pagination__page--first,
        .pagination__page--last,
        .pagination__page--current,
        .pagination__spacer {
            display: inline-block;
        }
    }
}

// Numbered buttons are shrunk a bit on tablets to save space.
@include mq($from: 30.875em, $until: 'gel3') {
    .pagination {
        .pagination__page--first,
        .pagination__page--last,
        .pagination__page--current,
        .pagination__spacer,
        .pagination__spacer--hidden,
        .pagination__page--nohide,
        .pagination__page--offset1,
        .pagination__page--offset2,
        .pagination__page--mobile {
            @include gel-font-size(15px, 15px);
        }
    }
}

// Display up to two buttons between the current and first/last
// buttons on devices wide enough to fit them. Hide hidden
// spacers only required on mobile devices. Also display
// numbered buttons instead of spacers if only one gap.
@include mq($from: 30.875em) {
    .pagination {
        .pagination__page--offset1,
        .pagination__page--offset2,
        .pagination__page--mobile {
            display: inline-block;
        }

        .pagination__spacer--mobile {
            display: none;
        }
    }
}

@include mq($from: 'gel3') {
    .pagination {
        margin-bottom: $wide-spacing;
    }
}

// Display all pagination buttons on larger devices.
@include mq($from: 'gel4') {
    .pagination {
        .pagination__page {
            display: inline-block;
        }
    }
}
