$faq-details-indent: 18px;

details.faq-item {
    &[open] summary svg {
        transform: rotate(90deg);
    }
}

div.component[data-content-block-type='faq']:last-of-type details:last-of-type {
    &:not([open]) {
        padding-bottom: $faq-details-indent;
    }
}

