.pagination-link--previous {
    margin-bottom: $gel-unit-small;
}

.pagination-link--next {
    margin-top: $gel-unit-small;
}

@include mq($from: gel3) {
    .pagination-link--previous {
        margin-bottom: $gel-unit-large;
    }

    .pagination-link--next {
        margin-top: $gel-unit-large;
    }
}

// There is a bug in some windows 10s PCs with NVDA where if the SVG icon is created before the <span> the link
// when pressing enter won't work. With this trick we can put the <span> first but make it display at the right side
.pagination-nextprev {
    display: inline-block;

    span {
        float: right;
    }
}
