{% extends 'base_ds2013.html.twig' %}

{% block title %}BBC - {{ tr('programmes') }} - {{ tr('atoz_title') }}{% endblock %}
{% block page_classes %}programmes-page text-base b-g-p br-box-page{% endblock %}

{% block body %}
    <h1>{{ tr('atoz_title_full') }}</h1>
    {{ ds2013('atozLetterNav', '', 'player') }}
{% endblock %}
