.contact-details__contact-detail {
    position: relative;
    padding: 8px 0 8px 50px;
}

.contact-details__title {
    margin-bottom: 0;
}

.contact-details__icon {
    position: absolute;
    left: 0;
    width: 1.5em;
    height: 1.5em;
}
