{%- for item in entity_context.getAncestry() -%}
    <a class="context__item" href="{{ path('find_by_pid', {'pid': item.getPid()}) }}"
        {{- loop.first ? ' tabindex="-1"' -}}
    >
       {{- item.getTitle() -}}
    </a>
    {{- not loop.last ? (loop.first ? ' ' : ', ') -}}
{%- endfor -%}
