.vote__noscript-container {
    background-color: #ffffff;

    noscript {
        color: #000000;
        font-size: 16px;
        font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;
    }
}
