.podcast--subscribe-icon {
    float: left;
    margin-right: 8px;
    width: 13px;
    height: 13px;
}

.podcast--subscribe-link,
.podcast--rss-link {
    font-size: 13px;
    line-height: 1;
}

.podcast--subscribe-link {
    padding: 12px;
    margin-bottom: 8px;
}
